#proname{
    background: #eaeaea;
    margin-top: 10px;
    border-radius: 8px;
}
#name{
    padding: 5px;
}
.vl {
    border-left: 1px solid gray;
    height: 100%;
}
#pro_posts{
    width: 100%;
    height: 80px;
    padding: 0px 20px;
    background: #EAEAEA;
    overflow: hidden;
}
